body{
  font-family: sans-serif;
  color:black;
  /*font-weight: bold;*/

}




.outer{
  text-align: center;
}

.page{

  max-width: 700px;
  width: 100%;
  display: inline-block;
  padding-block: 250px;

  /*border: 1px solid black;*/
}



/* SIDEBAR COMPONENT */

.side_bar{
  max-width: 100%;
  height:100%;
  overflow: auto;
  margin-top:30px;
  margin-bottom:30px;
  text-transform:uppercase;
  /*border: 1px solid black;*/

 
  text-align: left;

}

.side_bar:hover{
  animation-fill-mode: forwards;
  animation-name: changescale;
  animation-duration: 1s;
  background-color: seagreen;
  transform: rotate(45deg);
  animation-timing-function: ease-in;
}



.side_bar .section{
   color: blue;
   text-transform: uppercase;
   font-weight: bold;
   font-size:18px;

}

.side_bar img{
	float: right;
  max-width: 25%;
  height:25%;
  margin-block: 10px; ;
}

/* [class^="side_bar"] element that starts with */
div [class^="side_bar"]:first-of-type {
    margin: 0px;
   
}

div [class^="side_bar"]:last-of-type {
    margin: 0px;
   
}