
body{
	font-family: sans-serif;
}

/*<!-- begin logo here -->*/
.logo{
	max-width:400px;
	display: inline;

}


.logo img{
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: flex-start;
	
}

/*<!-- end logo here -->*/


.fashionlook{
	max-width:400px;
	display: inline-block;
	font-family: sans-serif;


}
.fashionlook img{
	width: 100%;
	

}


.fashioninfo {
font-size: 12px;
font-weight:bold;
font-family: sans-serif;


}





